{% extends "../layout.njk" %}

{% block content %}

  <form action="/" method="post"></form>
  <section class="container form">
    <form class="form" action="/products" method="POST">
      <div class="header">
        <h3>Cadastrando o seu produto</h3>
      </div>
      <div class="fields">
        {% include 'products/fields.njk'%}
      </div>

      <button class="button" type="submit">Cadastrar</button>
  </section>
</div>


{% endblock content %}



