{% extends "../layout.njk" %}

{% block content %}

<div class="card">
  <h3>Cadastrando o seu produto</h3>
  <form class="form" action="/" method="POST">

    {% include 'products/fields.njk'%}

    <div class="item">
      <div>
        <button class="button" type="submit">Cadastrar</button>
      </div>
    </div>

  </form>
</div>


{% endblock content %}



